// variables //
$color-common-background-2:rgba(237, 240, 245, 1);

$color-primary-300:rgba(31, 33, 36, 1);
$color-primary-500:rgba(31, 33, 36, 0.939);

$color-primary-a50:rgba(31, 33, 36, 0.509);
// $color-primary-a150:rgba(31, 33, 36, 0.1);
// $color-primary-a200:rgba(31, 33, 36, 0.12);

$color-mono-a500: rgba(0, 0, 0, 1);

$color-mono-a-a200:rgba(0, 0, 0, 0.12);
$color-mono-a-a400:rgba(0, 0, 0, 0.22);
$color-mono-a-a500:rgba(0, 0, 0, 0.34);

$color-mono-b-500:rgba(255, 255, 255, 1);
//----//